%border{
	border: 2px solid red;
}
@function rem($px){
	@return $px/16px+0rem;
}
@mixin font($size:16px, $color:#000){
	font-size: rem($size);
	color: $color;
}
@mixin inlineblock ($valign:top){
	display: inline-block;
	vertical-align: $valign;
}
@mixin cover(){
	background-size: cover;
	background: no-repeat center center;
}
@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
/* --------- clearfix mixins --------- */
%clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}
@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}
//background
@mixin bg-pattern($bg-image:black){
	@if $bg-image == black {
		background: #000 url(/assets/img/bg/pattern-black1.png) repeat;
	}
	@if $bg-image == white {
		background: #fff url(/assets/img/bg/pattern-white.png) repeat;
	}
	@if $bg-image == grey {
		background: #333 url(/assets/img/bg/pattern-grey.png) repeat;
	}
}
//placeholder
@mixin placeholder{
	&::-webkit-input-placeholder{
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}
@mixin flex($justify-content:space-around){
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify-content;
}