//color
$black: #111111;
$grey:#333;
$yellow:#ffcc00;
$borderColor: #bbb;

//common style
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";
// animation
@import "_misc/preloader";
@import "common/_animate";
//section
@import "common/presentation";
@import "common/header";
@import "common/humburger";
@import "common/lists";
@import "common/problems";
@import "common/solution";
@import "common/steps";