section.section.footer
	+sectionTitle('стань номер один в своей жизни')
	+mainPattern(path["luckyman"], classWrap, lessClass, 2)
	ul.list
		each object, name in reviews
			li.list__item
				.name= object['title']
				.occ= object['occ']
