
section.section.presentation
	header.header
	.presentation__top
		nav.header__nav
			.container
				ul.nav__list
					each value, key in nav
						li.nav__items
							a(href=`#${key}`).nav__items-link= value
		.container
			h2.presentation__title-top система власти над собой
	.presentation__bottom
		+mainPattern(path.lion, 'upper', lessClass, 0)


