section.section.presention
	.presention__top
		.container.presention__top
			h2.presention__title-top система власти над собой
	.presention__bottom
		.container.presention__bottom
			.presention__bottom-left
				img(src="/assets/img/presention/lion.png" class="presention__bottom-img")
			.presention__bottom-right
				h1.presention__title-bottom л.е.в
				.presention__form-wrap
					form(action="#" method="post" class="presention__form")
						.presention__form-title
							label(for="email" class="label__email") Пройти обучение:
						input(id="email" name="email" type="email" placeholder="введите сюда свой e-mail").presention__input-email
				.presention__timer-title доступ к системе будет закрыт через
