
section.section.presentation#js-presentation

	.presentation__top
		+menu
		.container
			h2.presentation__title-top система власти над собой
	.presentation__bottom
		+mainPattern(path.lion, 'upper', lessClass, 0)

