
section.section.presentation#js-presentation
	.presentation__top
		.container
			.btn__hamburger
				button(class="hamburger hamburger--3dx" type="button")
					.hamburger-box
						.hamburger-inner
		+menu
		.container
			h2.presentation__title-top система власти над собой
	.presentation__bottom
		+mainPattern(path.lion, 'upper', lessClass, 0)

