section.section.problems#js-problems
	+sectionTitle('если внутри вас живут:')
	.container
		+items(problems)
		.ps__middle-title
			| хватит себя жалеть!
			|
			span.orange Всего за  1 неделю
			|
			| вы сможете решить все свои проблемы!
	.ps__bottom
		+mainPattern(path.lion, classWrap, size[1], 4)