
section.section.solution#solution
	+sectionTitle('Чего вы добьётесь по нашей системе:')
	.container
		+items(solution)
		.ps__middle-title Давай же!
			.orange Возьми жизнь в свои руки!
	.ps__bottom
		+mainPattern(path.lion, classWrap, size[1], 3)

