
.header__nav {
	position: absolute;
	top: -9999em;
	z-index: 1000;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: .3s;
		@include laptop{
			display: none;
		}
	&:hover {
		background: rgba(0, 0, 0, 0.8);
	}
	&.nav__fixed {
		position: fixed;
		top: 0;
	}
}
.nav__list {
	text-align: center;
}
.nav__items {
	display: inline-block;
	vertical-align: middle;
}
.nav__items-link {
	padding: rem(20px);
	display: block;
	color: #bbb;
	text-transform: uppercase;
	text-shadow: rem(1px) rem(1px) rem(3px) #222;
	transition: color .3s;
	font-weight: 300;
	&:hover, &.active {
		color: #fff;
	}
}
