
.header__nav {
	position: absolute;
	top: -9999em;
	z-index: 1000;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: .3s;
		@include laptop{
			display: none;
		}
	&:hover {
		background: rgba(0, 0, 0, 0.8);
	}
	&.nav__fixed {
		position: fixed;
		top: 0;
	}
}
.nav__list {
	text-align: center;
}
.nav__items {
	display: inline-block;
	vertical-align: middle;
}
.nav__items-link {
	padding: rem(20px);
	display: block;
	color: #bbb;
	text-transform: uppercase;
	text-shadow: rem(1px) rem(1px) rem(3px) #222;
	transition: color .3s;
	font-weight: 300;
	&:hover, &.active {
		color: #fff;
	}
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/styles mmenu plugin/_-_-_-_-_-_-_-_-_-_-_-_-//
.nav-mobile {
	display: none;
	text-align: center;
	@include bg-pattern(grey);
	@include font(#1D1D1D);
}
.nav__items-mobile {
	padding: rem(40px) 0;
	&:hover {
	background: rgba(255, 255, 255, 0.5);
	}
}
.nav__items-mobile_link {
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #bbb;
}
.mm-listview>li>a, .mm-listview>li>span {
	padding: 20px;
}