.header__nav {
}
.header__nav {
	display: none;
	z-index: 1000;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: background .3s;
	&:hover {
		background: rgba(0, 0, 0, 0.8);
	}
	&.nav__fixed {
		position: fixed;
		display: block;
	}
}
.nav__list {
	text-align: center;
}
.nav__items {
	display: inline-block;
	vertical-align: middle;
}
.nav__items-link {
	padding: 20px;
	display: block;
	color: #bbb;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #222;
	transition: color .3s;
	text-decoration: none;
	font-weight: 300;
	&:hover {
		color: #fff;
	}
}