
.presentation__top{
	min-height: rem(425px);
	@include bg-pattern();
}
.presentation__title-top{
	@include roboto();
	@include font(48px, #fff);
	text-shadow: 1px 1px rem(3px) #222;
	text-align: center;
	text-transform: uppercase;
	padding: rem(35px) 0;
	@include tablets{
		font-size: rem(32px);
	}
}

.presentation__bottom{
	min-height:rem(320px);
	@include bg-pattern(white);
}

.presentation__bottom-wrap {
	@include flex();
	padding: rem(40px) 0;
	margin: 0 rem(-40px);
		&.upper{
			position: relative;
			bottom:rem(290px);
			margin-bottom: rem(-290px);
	}
}
.presentation__bottom-left{
	width: rem(460px);
	margin: 0 rem(40px) rem(20px);
}
.presentation__img-wrap{
	max-height: rem(480px);
	max-width: rem(393px);
	overflow: hidden;
}
.presentation__bottom-img{
	width:100%;
	height:100%;
}
.presentation__bottom-right {
	width: rem(460px);
	margin: 0 rem(40px);
	text-align: center;
	margin: auto;
	@include roboto();

}
.presentation__title-bottom{
	text-transform: uppercase;
	@include font(90px, #ffc000);
}
.presentation__form {
	min-height: rem(280px);
	background: $yellow;
	border: rem(5px) solid #fffffe;
	box-shadow: 1px 1px rem(3px) #000;
}
.label__email{
	@include font(30px);
	@include roboto();
	margin: rem(20px) 0;
	cursor: pointer;
}
.presentation__input-email{
	width: 90%;
	height: rem(50px);
	background: #fff;
	border: 1px solid #e1a900;
	@include roboto(regular);
	@include font(20px);
	text-indent: rem(20px);
	&:focus{
		border-color: transparent;
		box-shadow: 0 0 rem(7px) #886600;
	}
	@include placeholder{
		@include roboto();
		@include font(20px, #555);
	}
}
.presentation__form-text{
	@include font(20px);
	margin-top: rem(10px);
}
.presentation__form-btn{
	width: 90%;
	background: #b50000;
	padding: rem(15px);
	@include roboto();
	@include font(30px, #fff);
	margin-top: rem(10px);
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 1px 1px rem(3px) #700000;
	box-shadow: 1px 1px rem(4px) #000;
	&:hover{
		animation: growBtn linear .5s infinite;
	}
}
@keyframes growBtn {
0 {
	transform: scale(1);
}
50% {
	  transform: scale(1.1);
  }
100% {
	   transform: scale(1);
   }
}
//  timer
.presentation__timer{
	margin: rem(15px) 0 rem(50px) 0;
	color: #000;
}
.presentation__timer-title {
	@include roboto(regular);
	font-size:rem(22px);
	margin-bottom: rem(10px);
}
.countdownHolder{
	font-size: rem(30px);
}
//section footer
.section{
	&.footer{
		background: #fff;
	}
}
