.section{
	&.problems{
		@include bg-pattern(grey);
	}
}
.section__title{
	width: 100%;
	background: $yellow;
	text-align: center;
	@include roboto();
	@include font(40px);
	padding: rem(30px) 0;
	text-transform: uppercase;
	margin-bottom: rem(80px);
}
.problems__bottom{
	width: 100%;
	@include bg-pattern();
}

.img__wrap_less {
	max-width: rem(340px);
	max-height: rem(453px);
	@include tablets{
		display: none;
	}
}
.presention__timer_white{
	color: #fff;
}
.btn__title{
	@include roboto(regular);
	@include font(30px, #fff);
	text-transform: uppercase;
}
.text__yellow{
		color: $yellow;
}
.problems__btn{
	background: #d7d7d7;
	color: #000;
	text-shadow: none;
	&:hover{
		background: $yellow;
	}

}