extends ../_template
block variables
	- var title = 'LION'

block content
	include ../common/presentation
	include ../common/problems
	include ../common/solution
	include ../common/steps
	include ../common/footer

